body {
  color: #555;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 400;
  margin: 0;
}

header {
  /*margin-top: 20px;*/
  background-color: #0b3511;
}

h1 {
  padding: 10px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  color: white;
}

.wrapper {
  align-content: center;
  background-color: #f0f0f5;
  max-width: 600px;
  margin: auto;
}

.share-button {
  background-color: #22702e;
  color: white;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 20px;
  margin: 15px 5%;
  border: 0px;
}

.ion-icon {
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
  margin-left: -3px;
  margin-bottom: -5px;
}

ion-icon {
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
  margin-left: -3px;
  margin-bottom: -5px;
}

.icon {
  padding-right: 10px;
}

.heading {
  height: 50px;
  align-content: center;
  display: flex;
  justify-content: center;
}

.wrapper-inner {
  margin: 0 5%;
  padding-bottom: 40px;
}

.hidden {
  display: none !important;
}

.tyoaika {
  border: 2px solid #e7e7e7;
  margin: 10px 0px;
  font-size: 18px;
  color: inherit;
  background-color: #fff;
  margin-right: 10px;
  font-weight: 300;
  transition: border 0.3s;
  text-align: center;
  display: inline-block;
  padding: 5px;
  border-radius: 2px;
  font-weight: 600;
}

.container {
  clear: both;
  height: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.working-time-input,
.working-time-percent,
.name,
.saldo__type,
.working-time-saldo,
.correction-input {
  border: 2px solid #e7e7e7;
  transition: border 0.3s;
  font-size: 18px;
  color: inherit;
  background-color: #fff;
  margin-right: 10px;
  font-weight: 300;
  transition: border 0.3s;
  text-align: center;
  margin: 5px;
  font-family: "Open Sans", sans-serif;
}

.working-time-input {
  width: 80px;
}

.working-time-label,
.working-time-percent,
.saldo__type {
  clear: both;
}

.working-time-percent {
  width: 55px;
}

.name {
  width: 150px;
  text-align: left;
}

.saldo__type {
  margin-right: 0;
}

.working-time-saldo {
  margin-left: 0;
  width: 80px;
}

.button {
  background: #22702e;
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  color: white;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  padding: 10px 12px;
  font-size: 20px;
}

.button {
  margin: 10px 0;
}

.tyoaika-button {
  margin-bottom: 10px;
}

a {
  color: white;
  text-decoration: none;
}

button,
input,
form {
  font-family: "Open sans", sans-serif;
}

/* Table settings */
.game_field {
  /*max-width: 400px;*/
  margin-top: 20px;
  margin-bottom: 30px;
  overflow-x: hidden;
}

.table {
  border-collapse: collapse;
}

.table td,
.table th {
  border: 3px solid #ddd;
  padding: 8px;
  max-width: 50px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-align: center;
  font-size: 30px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table td:hover {
  background-color: #ddd;
  cursor: pointer;
}

.caption th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: #22702e;
  color: white;
}

.sub-caption {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: #5c5956;
  color: white;
}

/* The Modal (background) */
.settings {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1010; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /*margin: 5% 15%;*/ /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 250px; /* Could be more or less, depending on screen size */
  /*max-width: 100%;*/
  border-radius: 8px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.warning {
  padding: 10px;
  background-color: #ff6666;
  border-radius: 5px;
}

.success {
  background-color: lightgreen;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

/* Logging corrections */
.logging-correction {
  display: none;
}
